<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tmSyncCounter</key>
	<integer>2279</integer>
	<key>tmSyncUuid</key>
	<string>pboTT3UUTHy%XsXsxoT0xQ</string>
</dict>
</plist>
