<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>19</integer>
	<key>LibraryBuildTag</key>
	<string>42855124-C78B-46BF-878D-EBC6E2DC159F</string>
	<key>LibrarySchemaVersion</key>
	<integer>1404</integer>
</dict>
</plist>
