<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseCompatibleBackToMinorVersion</key>
	<integer>220</integer>
	<key>DatabaseMinorVersion</key>
	<integer>226</integer>
	<key>DatabaseVersion</key>
	<integer>110</integer>
	<key>adminProperties</key>
	<dict>
		<key>GeneralPreferences|FacesEnabled</key>
		<false/>
		<key>database.iPhoto|lastEmptyEventUuid</key>
		<string>JsZPWPnsQku6V+Z%65rViA</string>
		<key>database.iPhoto|lastNMonthsValue</key>
		<integer>1</integer>
		<key>database.iPhoto|showLastNMonths</key>
		<true/>
		<key>database|RKXMLExportManagerMode</key>
		<string>RKXMLExportManagerExportNeverKey</string>
		<key>database|UseEmbeddedJPEGv2</key>
		<true/>
		<key>database|applicationIdentifier</key>
		<string>com.apple.PhotoLibraryMigrationUtility</string>
		<key>database|automaticallyGenerateFullSizePreviews</key>
		<true/>
		<key>database|createDate</key>
		<date>2015-12-20T09:46:27Z</date>
		<key>database|databaseUuid</key>
		<string>exRHffDjS0OT%LFMuB+dDg</string>
		<key>database|imageIOVersion</key>
		<string>1442</string>
		<key>database|isIPhotoLibrary</key>
		<false/>
		<key>database|previewQuality</key>
		<real>0.66669999999999996</real>
		<key>database|previewSizeLimit</key>
		<integer>2</integer>
		<key>database|rawCameraBundleVersion</key>
		<string>3.6-828</string>
		<key>photoStream|autoUpload</key>
		<true/>
		<key>photoStream|explicitlyDisabled</key>
		<false/>
		<key>photoStream|showingFirstTimeHelp</key>
		<true/>
		<key>sharingActivity|facebookIdentifierNamespace</key>
		<string>oid</string>
		<key>touchedBy|com.apple.Aperture</key>
		<integer>1</integer>
	</dict>
	<key>createDate</key>
	<date>2015-12-20T09:46:27Z</date>
	<key>databaseUuid</key>
	<string>exRHffDjS0OT%LFMuB+dDg</string>
	<key>isIPhotoLibrary</key>
	<false/>
	<key>masterCount</key>
	<integer>0</integer>
	<key>projectCompatibleBackToVersion</key>
	<integer>8</integer>
	<key>projectVersion</key>
	<integer>8</integer>
	<key>touchedByAperture</key>
	<true/>
	<key>versionCount</key>
	<integer>0</integer>
</dict>
</plist>
